/* Add icon for dropdown labels */
.dropdown-menu--label:after {
  content: " ￬";
}

.menu-list {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}

/*Create a horizontal list with spacing*/
.menu-list--item {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

/*Style for menu links*/
.menu-list--item a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}

/*Hover state for top level links*/
.menu-list--item:hover a {
  background: #19c589;
}

/*Style for dropdown links*/
.menu-list--item:hover .menu-list a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.menu-list--item:hover .menu-list a:hover {
  background: #19c589;
  color: #fff;
}

/*Hide dropdown links until they are needed*/
.menu-list__submenu {
  display: none;
}

/*Make dropdown links vertical*/
.menu-list__submenu .menu-list--item {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.menu-list__submenu .menu-list--item a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
.menu-list .menu-list--item .dropdown-menu--label:hover + .menu-list__submenu, .menu-list__submenu:hover {
  display: block;
}

.show-menu--label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  /* This label will be displayed when needed for responsive-ness */
  display: none;
}

/* Display status checkbox 
 * It shouldnt be visible in itself, but
 * affect the selector after this
 * */
.show-menu--status-checkbox {
  display: none;
  -webkit-appearance: none;
}

/* Main use for status checkbox:
 * Show the main menu when the checkbox is checked
 * */
.show-menu--status-checkbox:checked ~ .show-menu--menu {
  display: block;
}


/*Responsive Styles*/
@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  .menu-list {
    position: static;
  }
  /*Create vertical spacing*/
  .menu-list--item {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .menu-list .menu-list--item, .menu-list--item a {
    width: 100%;
  }

  /**
   * Now the show-menu button appears
   * and the menu itself hides
   */
  .show-menu--label {
    display: block;
  }

  .show-menu--menu {
    display: none;
  }

}
